<div class="product-list-item">
   <div class="d-flex align-items-center">
      <img src="../assets/images/dashboard/skype.png" alt="">
      <div class="ml-3">
        <h5 class="font-weight-medium mb-0">Skype</h5>
        <p class="mb-0 text-muted">Computer application</p>
      </div>
    </div>
    <div>
      <!-- <i class="material-icons options-icon">more_vert</i> -->
      <button class="mdc-button mdc-button--outlined shaped-button outlined-button--info">
        Ver
      </button>
      </div>
  </div>