.fc-toolbar {
  .fc-button-primary {
    background-color: theme-color(primary);
    border-color: theme-color(primary);
    &.fc-button-active {
      background-color: darken(theme-color(primary), 10%);
      border-color: inherit;
    }
  }
}