<nav class="mdc-list mdc-drawer-menu">
    <div class="mdc-list-item mdc-drawer-item">
      <a class="mdc-drawer-link" href="#">
        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i>
        Dashboard
      </a>
    </div>
    <div class="mdc-list-item mdc-drawer-item">
      <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel" data-target="ui-sub-menu">
        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">dashboard</i>
        UI Features
        <i class="mdc-drawer-arrow material-icons">chevron_right</i>
      </a>
      <div class="mdc-expansion-panel" id="ui-sub-menu">
        <nav class="mdc-list mdc-drawer-submenu">
          <div class="mdc-list-item mdc-drawer-item">
            <a class="mdc-drawer-link" href="#">
              Buttons
            </a>
          </div>
          <div class="mdc-list-item mdc-drawer-item">
            <a class="mdc-drawer-link" href="#">
              Badges
            </a>
          </div>
          <div class="mdc-list-item mdc-drawer-item">
            <a class="mdc-drawer-link" href="#">
              Typography
            </a>
          </div>
          <div class="mdc-list-item mdc-drawer-item">
            <a class="mdc-drawer-link" href="#">
              Icons
            </a>
          </div>
          <div class="mdc-list-item mdc-drawer-item">
            <a class="mdc-drawer-link" href="#">
              Tabs
            </a>
          </div>
          <div class="mdc-list-item mdc-drawer-item">
            <a class="mdc-drawer-link" href="#">
              Progress
            </a>
          </div>
        </nav>
      </div>
    </div>

  
  </nav>